<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="myApp">
    <head>
        <title>Dương Trọng Quyền | LinkedIn</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="style.css" rel="stylesheet" type="text/css" />
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script>
           var app = angular.module('myApp', []);
            app.controller('customersCtrl', function($scope, $http) {
              $http.get("myData.json").then(function (response) {
                  $scope.data = response.data;
              });
            });
        </script>
    </head>
    <body ng-controller="customersCtrl" id="bodybg">
        <div id="wrapper">
            <div id="profile">
                <section id="topcard" class="profilebg">
                    <div class="intro">
                        <div class="avatar">
                            <img src="{{data.profile.avatar}}" width="200" height="200">                            
                        </div>
                        <div class="nameintro">
                            <h1 id="name">{{data.profile.name}}</h1>
                            <p id="headline">{{data.profile.headline}}</p>
                            <p id="region">{{data.profile.region}}</p> 
                            <div id="info">
                                <table>
                                    <tr>
                                        <th>Facebook</th>
                                        <td>{{data.profile.facebook}}</td>
                                    </tr>
                                    <tr>
                                        <th>Gmail</th>
                                        <td>{{data.profile.gmail}}</td>
                                    </tr>
                                    <tr>
                                        <th>Phone number</th>
                                        <td>{{data.profile.phone}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                </section>
                <section id="sumary">
                    <div class="title">{{data.sumary.title}}</div>
                    <div class="description">
                        <p>{{data.sumary.description1}}<br><br>{{data.sumary.description2}}
                        </p>
                    </div>
                </section>
                <section id="experience">
                    <p class="titlex">Expérience</p>
                    <div ng-repeat="x in data.experience" class="position">
                        <p>
                            <img class="logo" src="{{x.logo}}">
                        </p>
                        <p class="title">{{x.title}}</p>
                        <p class="subtitle">{{x.subtitle}}</p>
                        <p class="time">{{x.time}}</p>
                    </div>
                </section>
                <section id="project">
                    <p class="titleproject">Project</p>
                    <div ng-repeat="x in data.project" class="myproject">
                        <p>
                            <img class="logo" src="{{x.logo}}">
                        </p>
                        <p class="title">{{x.title}}</p>
                        <p class="language">Programming language: {{x.language}}</p>
                    </div>
                </section>
                <section id="Skills">
                    <p class="title">Skills</p>
                    <div class="myskill">
                        <div ng-repeat="x in data.skills" class="skill">
                            <a href="" title="">{{x.skill}}</a>
                        </div>
                    </div>
                </section>
                <section id="Education">
                    <div class="title">Education</div>
                    <div ng-repeat="x in data.Education" class="myschool">
                        <p>
                            <img class="logo" src="{{x.logo}}">
                        </p>
                        <p class="name">{{x.name}}</p>
                        <p>{{x.location}}</p>
                        <p>{{x.time}}</p>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>
