#bodybg{
    background: #dfdfdf;
    font-family: arial;
}
#wrapper {
    margin-top: 38px;
    margin-left: 187px;
    word-wrap: break-word;
    word-break: break-word;
}
#profile {
    float: left;
    width: 646px;
}
#topcard{
    background: #fff;
}#profile .intro{
    overflow: hidden;
    position: relative;
}
#profile .avatar{ 
    float: left;
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 20px 0;
}
#profile .nameintro{
    float: left;
    padding: 20px 70px 20px 20px;
}
#name{
    font-size: 26px;
    margin: 0;
}
#headline{
    margin: 0;
    color: #777777;
    font-size: 16px;
}
#region{
    margin: 0;
    color: #777777;
    font-size: 13px;
}
#Truong{
    font-size: 14px;
    color: #777777;
}
#info{
    padding-top: 20px;
    text-align: left;
}
#info th{
    font-size: 11px;
    color: #999;
    padding-right: 20px;
    white-space: nowrap;
    padding-top: 6px;
}
#info td{
    font-size: 12px;
    line-height: 14px;
    color: #333;
    font-weight: normal;
}
#sumary{
    background: #fff;
    margin-top: 10px;
}
#sumary .title{
    padding: 30px 35px 0;
    color: #333;
    font-size: 16px;
}
#sumary .description{
    padding: 15px 35px 30px;
    color: #333;
    font-size: 13px;
}
#experience{
    background: #fff;
    margin-top: 10px;
    color: #333;
}
#experience .titlex{
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    color: #434649;
    padding: 30px 35px 0;
}
#experience .position{
    border-bottom: 1px solid #ddd;
    padding: 25px 35px;
}
#experience .position .title{
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #000;
}
#experience .position .subtitle{
    font-size: 14px;
}
#experience .position .time{
    font-size: 12px;
}
#experience .position .logo{
    float: right;
    width: 70px;
}
#project {
    background: #fff;
    margin-top: 10px;
    color: #333;
}
#project .titleproject{
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    color: #434649;
    padding: 30px 35px 0;
}
#project .myproject{
    border-bottom: 1px solid #ddd;
    padding: 25px 35px;
    font-size: 14px;
}
#project .logo{
    float: right;
    width: 70px;
}
#project .title{
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #000;
}
#Skills{
    background: #fff;
    margin-top: 10px;
    color: #333;
}
#Skills .title{
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    color: #434649;
    padding: 30px 35px 0;
}
#Skills .myskill{
    padding: 30px 35px;
}
#Skills .skill{
    box-shadow: 0 1px 1px #ccc;
    transition: all 0.07s;
    display: inline-block;
    border: 0;
    margin: 0 10px 5px 0;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 17px;
    color: #333333;
    font-weight: normal;
    background: #f1f1f1;
    border-radius: 2px;
    text-decoration: none;
}
#Skills .skill:hover{
    background: #006fa6;
}
#Skills .skill a{
    text-decoration: none;
    color: #333;
}
#Education {
    background: #fff;
    margin-top: 10px;
    color: #333;
    font-size: 14px;
}
#Education .title{
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    color: #434649;
    padding: 30px 35px 0;
}
#Education .myschool{
    border-bottom: 1px solid #ddd;
    padding: 25px 35px;
    font-size: 14px;
}
#Education .logo{
    float: right;
    width: 70px;
}
#Education .name{
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #000;
}
