#bodybg{
    background: #dfdfdf;
    font-family: arial;
}
#wrapper {
    margin-top: 38px;
    margin-left: 187px;
    word-wrap: break-word;
    word-break: break-word;
}
#profile {
    float: left;
    width: 646px;
}
#topcard{
    background: #fff;
}#profile .intro{
    overflow: hidden;
    position: relative;
}
#profile .avatar{ 
    float: left;
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 20px 0;
}
#profile .nameintro{
    float: left;
    padding: 20px 70px 20px 20px;
}
#name{
    font-size: 26px;
    margin: 0;
}
#headline{
    margin: 0;
    color: #777777;
}
#region{
    margin: 0;
    color: #777777;
}
#Truong{
    font-size: 14px;
    color: #777777;
}
#sdt{
    font-size: 14px;
    color: #777777;
}
#sumary{
    background: #fff;
    margin-top: 10px;
}
#sumary .title{
    padding: 30px 35px 0;
    color: #333;
    font-size: 16px;
}
#sumary .description{
    padding: 15px 35px 30px;
    color: #333;
    font-size: 13px;
}
#experience{
    background: #fff;
    margin-top: 10px;
    color: #333;
}
#experience .titlex{
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    color: #434649;
    padding: 30px 35px 0;
}
#experience .position{
    border-bottom: 1px solid #ddd;
    padding: 25px 35px;
}
#experience .position .title{
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #000;
}
#experience .position .subtitle{
    font-size: 14px;
}
#experience .position .time{
    font-size: 12px;
}
#experience .position .logo{
    float: right;
    width: 70px;
}